<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Blog Post</title>
  </head>
  <body>
    <form class="" action="submit_post" method="post">
      <label>
        Title:
        <input type="text" name="Title" value="">
      </label>
      <label>
        Name:
      <input type="text" name="author name" value="">
      </label>
      <label>
        Content
      <input type="text" name="content" value="">
      </label>
      <button type="button" name="submit blog"></button>
    </form>

  </body>
</html>
